<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="navbar navbar-expand navbar-dark bg-dark">
  <a href="https://angular.io" class="navbar-expand ms-1">
    <fa-icon [icon]="faAngular" [styles]="{'color': '#a6240c'} "  size="3x"></fa-icon>
  </a>
  <i style="top:50%;color:white;font-size:large;font-style: normal">Angular</i>
  <div class="navbar-nav me-auto " >
    <li class="nav-item" *ngIf="isAdmin()">
      <a [routerLink]="['/admin']"  routerLinkActive="active" class="nav-link" >Admin</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link" >Home</a>
    </li>

  </div>
  <div class="navbar-nav me-lg-0" *ngIf="!currentUser?.id">
    <li class="nav-item">
      <a [routerLink]="['/signup']" routerLinkActive="active" class="nav-link" >Sign Up</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link" >Sign In</a>
    </li>
  </div>

  <div class="navbar-nav me-lg-0" *ngIf="currentUser?.id">
    <li class="nav-item">
      <a [routerLink]="['/profile']" routerLinkActive="active" class="nav-link" >{{currentUser.userName}}</a>
    </li>
    <li class="nav-item">
      <a (click)="logout()" style="cursor: pointer" class="nav-link" >Sign Out</a>
    </li>
  </div>
</div>



<router-outlet></router-outlet>
